html, body{
    margin: 0;
}
.card {
    background-color: rgb(211, 235, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}
  
.title {
    color: grey;
    font-size: 18px;
}
  
button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #001f3b;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
  
a {
    text-decoration: none;
    font-size: 22px;
    color: #001f3b;
}
  
button:hover, a:hover {
    opacity: 0.7;
}

.title, h1, h2{
    color: #001f3b;
}

.parallax {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;  
    align-items: center;  
}

.capitano1 {
    background-image: url('https://act-upload.hoyoverse.com/event-ugc-hoyowiki/2025/01/08/44749939/26c59302d4875ea30625d3a6668b6475_8903995631587657681.png?x-oss-process=image%2Fformat%2Cwebp');
}
.capitano2{
    background-image: url('https://act-upload.hoyoverse.com/event-ugc-hoyowiki/2025/01/03/237301566/10d6b8333531d9bc3210700a2bba5ac0_1413290211432000656.png?x-oss-process=image%2Fformat%2Cwebp');
}

.portfolio-box, .titleforbox, .btn-link, h3{
    font-family: arial;
    color: rgb(214, 236, 255);
    font-size: x-large;
    justify-content: center; 
    align-items: center;
    text-align: center;
}
.btn-link{
    background-color: cadetblue;
}

.navbar {
    font-family: arial;
    font-size: x-large;
    text-align: center;
    padding: 15px;
    background-color: rgba(85, 131, 206, 0.95); 
}